.text-one {
  position: absolute;
  bottom: 600px;
  left: 16px;
  color: White;
  font-size: 30px
}

.text-three {
  position: absolute;
  bottom: 580px;
  left: 450px;
  font-size: 30px;
}

.text-two {
  position: absolute;
  bottom: 570px;
  left: 16px;
  color: White;
  font-size: 30px;
}